@page "/"

@using Realtrend.Components

@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
<AddressForm OnSubmitCallback="ToggleButtonVisibility"/>

<!-- Render additional button conditionally -->
@if (showAdditionalButton)
{
    <div class="d-flex justify-content-center mt-3">
        <h6 class="text-white" style="margin: 20px;">Dine oplysninger er klar...!</h6>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-secondary" @onclick="showCharts">Prishistorik</button>
        <button class="btn btn-secondary mx-3">Ny feature</button>
        <button class="btn btn-secondary">Ny feature</button>
    </div>
}

@code {

    private bool showAdditionalButton = false;

    // Callback function to toggle the flag
    private void ToggleButtonVisibility()
    {
        showAdditionalButton = true;
    }

    private void showCharts()
    {
        // Navigate to the chart page
        NavigationManager.NavigateTo("/chartpage");
    }
}