@page "/"

@using Realtrend.Interfaces;
@using Realtrend.Models;

@inject IAddress AddressService;
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
<div class="d-flex justify-content-center">


    <div class="p-4" style="max-width: 700px; border-radius:30px; background-color: @GlobalColors.CustomBackgroundColor;">
        <div class="d-flex justify-content-center">
            <h6 class="text-black">INDTAST DIN ADRESSE</h6>
        </div>

        <form @onsubmit="OnSubmit">
            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="street">Vej og husnummer:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="street" @bind="addressForm.Street" />
                </div>
            </div>


            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="zipCode">Postnummer:</label>
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="text" class="form-control" id="zipCode" @bind="addressForm.ZipCode" />
                </div>
            </div>

            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="city">By:</label>
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="text" class="form-control" id="city" @bind="addressForm.City" />
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <input type="submit" value="Find boligvurderinger" class="btn btn-primary" style="background-color: @GlobalColors.CustomApplicationColor;" />
            </div>
        </form>
    </div>
</div>

@code {
    private AddressForm addressForm = new AddressForm();

    private async void OnSubmit()
    {
        var addresses = await AddressService.GetAddressResponseAsync(addressForm.Street);

        NavigationManager.NavigateTo("/chartpage");
    }
}