@inherits LayoutComponentBase

<PageTitle>Realtrend</PageTitle>

<div class="page">
    <main>
        <div class="custom-app-bar">
            <img src="icon.png" alt="Icon" width="120" height="120" />
            <label class="text-black">RealTrend</label>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
