@page "/address-form"
@namespace Realtrend.Components
@using Realtrend.Library.Interfaces
@using Realtrend.Library.Models
@using Realtrend.Services

@inject IAddressService AddressService
@inject AddressStateService AddressState

<div class="d-flex justify-content-center">
    <div class="p-4" style="max-width: 700px; border-radius:30px; background-color: @GlobalColors.CustomBackgroundColor;">
        <div class="d-flex justify-content-center">
            <h5 class="text-black" style="margin-bottom: 20px;">INDTAST DIN ADRESSE</h5>
        </div>

        <form @onsubmit="OnSubmit">
            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="street">Vej og husnummer:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="street" @bind="address.StreetAndHouseNumber" />
                </div>
            </div>

            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="zipCode">Postnummer:</label>
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="text" class="form-control" id="zipCode" @bind="address.ZipCode" />
                </div>
            </div>

            <div class="form-row d-flex justify-content-between mb-3">
                <div class="col-md-6 text-md-left">
                    <label class="text-black" for="city">By:</label>
                </div>
                <div class="col-md-6 text-md-right">
                    <input type="text" class="form-control" id="city" @bind="address.City" />
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <input type="submit" value="Find boligvurderinger" class="btn btn-primary" style="background-color: @GlobalColors.CustomApplicationColor; margin-top: 20px;" />
            </div>
        </form>
    </div>
</div>

@code {
    private Address address = new Address();

    [Parameter]
    public EventCallback OnSubmitCallback { get; set; }

    private async Task OnSubmit()
    {
        address = new Address(address.StreetAndHouseNumber, address.ZipCode, address.City);

        var dataForsyningAddress = await AddressService.GetDataForsyningAddressAsync(address.StreetAndHouseNumber);

        address.AddressId = dataForsyningAddress.Id;

        var datafordelerAddress = await AddressService.GetDataFordelerAddressAsync(address.AddressId);

        if (datafordelerAddress.Any())
        {
            address.Jordstykke = datafordelerAddress.First().Husnummer.Jordstykke;

            var grundData = await AddressService.GetDataFordelerGrundDataAsync(address.Jordstykke);

            if (grundData.Any())
            {
                address.BfeNumber = grundData.First().BestemtFastEjendom.BfeNummer.ToString();
            }
        }

        AddressState.SetCurrentAddress(address);

        await OnSubmitCallback.InvokeAsync();
    }
}
